svg.ceny
  path.line
    fill none
    &.benzin
      stroke ColorHeading
    &.diesel
      stroke ColorHeadingLink
  .axis
    shape-rendering crispEdges
    path
      fill #9
    line
      stroke #9
    text
      foll #6
